<!DOCTYPE html>
<html>
<head>
  <title>The Wall</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>

  <nav class="navbar">
    <a class="navbar-brand" href="#" style="color:white;">The Wall</a>
    <a href="{{url_for('logout')}}"> LogOut </a>
  </nav>

  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-12">
        <form method="POST" action="/">
          <div class="form-group">
            <textarea class="form-control" name="message-text"></textarea>
            <button type="submit" class="btn btn-outline-primary btn-block mt-3">submit message</button>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h2>My Messages</h2>
        {% for message in messages %}
        <div class="card mt-3">
          <div class="card-body">
            {{ message.text }}
          </div>

          <div class="card-footer text-muted">
            from {{ message.username }}
          </div>
        </div>
        {% endfor %}
         


      </div>
    </div>
  </div>

  <form action="{{url_for('delete')}}" method="POST" class="mt-2">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete All Messages" class="btn btn-danger">
  </form>

</body>
</html>






