<!DOCTYPE html>
<html>
<head>
  <title>The New Wall</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">The New Wall</a>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <form method="POST" action="/">
          <div class="form-group">
            <h5 class="mt-3">My Message</h5>
            <textarea class="form-control" name="message-text"></textarea>
            <button type="submit" class="btn btn-outline-primary btn-block mt-3">submit message</button>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-12">

        {% for message in messages %}
        <div class="card mt-3">
          <div class="card-body">
            {{ message.text }}
          </div>

          <div class="card-footer text-muted">
            from {{ message.username }}
          </div>
        </div>
        {% endfor %}


      </div>
    </div>
  </div>

</body>
</html>






