<!DOCTYPE html>
<html>
<head>
  <title>The New Wall</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">The New Wall</a>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <form method="POST" action="/signup">
          <div class="form-group">
            <h5 class="mt-3">Signup</h5>
            <label>Email address</label>
            <input type="email" class="form-control" name="email-address" placeholder="name@example.com">

            <label>Password</label>
            <input type="password" class="form-control" name="password">

            <button type="submit" class="btn btn-outline-primary btn-block mt-3">submit message</button>
          </div>

          </div>
        </form>
      </div>
    </div>
    </div>
  </div>

</body>
</html>






